<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBingeTV</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:200|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
</head>
<body>
<div class="main-container-index">

    <div class="alert-error" id="error-alert">
        <div class="icon">X</div>
        <div class="text-position">

            <div class="text-wrap">
                <p class="text"> Long range scanners detect nothing in the search bar captain.</p>
            </div>
        </div>
    </div>

    <!--PAGE TO DISPLAY IF USER IS NOT LOGGED IN-->
    {{^username}}
    <form action="/login" method="get">
        <button class="button is-info" type="submit">Login / Create Account</button>
    </form>

    <div class="index-container-wrapper">
        <div class="indexContainer">
            <div class="MOAR_STUFF">
                <h1 class="title">Welcome to MyBingeTv!!</h1>
                <div class="titleSubText-wrapper"><p class="titleSubText">Here you can search to get information about
                    any TV show. If you want to add
                    shows
                    to your custom list,
                    please create an account.</p></div>
            </div>
            <div class="indexSection">
                <form class="search-form" action="/search" method="post">
                    <input class="searchInput" type="text" placeholder="Search..." name="userInput">
                </form>
            </div>
            <span class="fa "> <img src="http://www.asus.com/media/img/loadingAnimation.gif"></span>
        </div>

        {{/username}}


        <!--PAGE TO DISPLAY IF USER IS LOGGED IN-->
        <div class="logout-btn">
            {{#username}}
            <form action="/logout" method="post">
                <button class="button is-info is-small" type="submit">Logout</button>
            </form>
            {{/username}}
        </div>


        {{#admin}}  <!--IF user is ADMIN, show admin search to contact backup API-->
        <form action="/adminSearch" method="post">
            <input type="text" placeholder="Perform Admin Search" name="adminSearch"/>
            <!--Search options are: "house", "justified", and anything else will return default South Park-->
            <button type="submit">Search</button>
        </form>
        {{/admin}}


        {{#username}}
        <form class="search-formSmall" action="/search" method="post">
            <input class="searchInputSmall" type="text" placeholder="Find More Shows" name="userInput">
        </form>

        {{^showList}}  <!--IF a user is logged in AND their list is empty, display this...-->
        <p class="empty-list">Your list is empty! Search for a show to add it to your list.</p>
        {{/showList}}

        {{#showList}}   <!--IF a user is logged in AND their list is NOT empty, display this...-->
        <div class="userList-wrapper">
            <div class="userList">
                <div class="userList-image">
                    <img src="{{getArtwork}}">
                </div>
                <div class="userList-overview">
                    {{getOverview}}
                </div>
                <div class="userList-links">
                    <div class="userList-detail">
                        <form class="form-stuff" action="/showDetail" method="get">
                            <input type="hidden" value="{{getId}}" name="getDetailId">
                            <button type="submit" class="button is-info is-small">Detailed Show Info</button>
                        </form>
                    </div>
                    <form action="/removeFromUserList" method="post">
                        <input type="hidden" value="{{getId}}" name="getId"/>
                        <button class="button is-info is-small" type="submit">Remove from My List</button>
                    </form>
                </div>
            </div>
        </div>
        {{/showList}}
        {{/username}}

        <script src="/app.js"></script>
    </div>
</div>
</body>
</html>