<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBingeTV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:200|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="main-container-index">
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item is-brand" href="/">
                <img src="/tv-icon-13.png" alt="image">My Binge TV
            </a>

        </div>
        <div class="nav-center">
            {{#username}}
            <form class="search-formSmall" action="/search" method="post">
                <input required class="searchInputNav" type="text" placeholder="Find More Shows" name="userInput">
            </form>
            {{/username}}
        </div>

        <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
        <div class="nav-right nav-menu">

            <span class="nav-item">
                {{^username}}
                <form action="/login" method="get">
                    <button class="button is-info is-small" type="submit">Login / Create Account</button>
                </form>
                {{/username}}
                {{#username}}
                <form action="/logout" method="post">
                    <button class="button is-info is-small" type="submit">Logout</button>
                </form>
                {{/username}}
            </span>
        </div>
    </nav>

    <div class="alert-error" id="error-alert">
        <div class="icon">X</div>
        <div class="text-position">

            <div class="text-wrap">
                <p class="text"> Long range scanners detect nothing in the search bar captain.</p>
            </div>
        </div>
    </div>

    <!--PAGE TO DISPLAY IF USER IS NOT LOGGED IN-->
    {{^username}}

    <div class="index-container-wrapper">

            <div class="MOAR_STUFF">
                <div class="logo-wrapper"><span class="logo"><img src="/mybinge4.png"></span></div>
                <div class="titleSubText-wrapper"><p class="titleSubText">Here you can search to get information about
                    any TV show. If you want to add
                    shows
                    to your custom list,
                    please create an account.</p></div>
            </div>
            <div class="indexSection">
                <form class="search-form" action="/search" method="post">
                    <input class="searchInput" type="text" placeholder="Search..." name="userInput">
                </form>
            </div>
            <span class="fa "> <img src="https://www.asus.com/media/img/loadingAnimation.gif"></span>

        {{/username}}

        <!--PAGE TO DISPLAY IF USER IS LOGGED IN-->
        {{#admin}}  <!--IF user is ADMIN, show admin search to contact backup API-->
        <form action="/adminSearch" method="post">
            <input type="text" placeholder="Perform Admin Search" name="adminSearch"/>
            <!--Search options are: "house", "justified", and anything else will return default South Park-->
            <button type="submit">Search</button>
        </form>
        {{/admin}}


        {{#username}}

        <div class="section">
            <div class="container">
                <h2 class="title is-3 has-text-centered">Welcome to your BingeList.</h2>
                {{^showList}}  <!--IF a user is logged in AND their list is empty, display this...-->
                <p class="empty-list">Your list is empty! Use the search above to find a show.</p>
                {{/showList}}

                {{#showList}}   <!--IF a user is logged in AND their list is NOT empty, display this...-->
                <div class="columns">
                    <div class="column is-12">
                        <div class="card is-fullwidth">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-16by9 min-image">
                                            <img src="{{getArtwork}}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <nav class="level">
                                            <div class="level-item has-text-centered">
                                                <p class="heading">Rating</p>
                                                <p class="subtitle">{{getRating}}</p>
                                            </div>
                                            <div class="level-item has-text-centered">
                                                <p class="heading">Runtime</p>
                                                <p class="subtitle">{{getRuntime}}</p>
                                            </div>
                                        </nav>
                                        <p>
                                            {{getOverview}}
                                        </p>
                                        <div class="userList-links">
                                            <div class="userList-detail">
                                                <form class="form-stuff" action="/showDetail" method="get">
                                                    <input type="hidden" value="{{getShowid}}" name="getDetailId">
                                                    <button type="submit" class="button is-info is-small">Detailed Show
                                                        Info
                                                    </button>
                                                </form>
                                            </div>
                                            <form action="/removeFromUserList" method="post">
                                                <input type="hidden" value="{{getId}}" name="getId"/>
                                                <button class="button is-info is-small" type="submit">Remove from BingeList
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/showList}}
            </div>
        </div>
        {{/username}}

        <script src="/app.js"></script>
    </div>
</div>
</body>
</html>