<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:200|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="main-container-login">

    <div class="login-container">
        <div class="create-account-form">
            <p class="login-h2">Create a new account</p>
            <form class="control" action="/create-account" method="post">
                <p class="control"><input required class="input is-info" type="text" placeholder="Enter a new username"
                                          name="newusername"/></p>
                <p class="control"><input required class="input is-info" type="password" placeholder="Enter a password"
                                          name="newpassword"/></p>
                <p class="control"><input required class="input is-info" type="password"
                                          placeholder="Re-enter your passowrd" name="validatepassword"/></p>
                <p class="control">
                    <button class="button is-info" type="submit">Create Account</button>
                </p>
            </form>
        </div>

        <div class="account-login-form">
            <p class="login-h2">Login to your account</p>
            <form class="control" action="/login" method="post">
                <p class="control"><input required class="input is-info" type="text" placeholder="User name"
                                          name="username"/></p>
                <p class="control"><input required class="input is-info" type="password" placeholder="Password"
                                          name="password"/></p>
                <p class="control">
                    <button class="button is-info" type="submit">Login</button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>