<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchResults</title>
</head>
<body>

<br><br>
{{#resultList}}
<div>
    <div>{{getTitle}}</div><br>
    <a href="http://api-public.guidebox.com/v1.43/US/rKVdjAvM4AXw3fZezT3teadiAUMHfpbO/show/{{getId}}">
        <img src="{{getArtwork_448x252}}"></a>
    <form action="/addToList" method="post" class="addBtn">
        <input type="hidden" value="{{getId}}">
        <button type="submit">Add to your shows</button>
    </form>
</div>
{{/resultList}}
</body>
</html>