<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchResults</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

<br><br>
<!--insert info header here with home button and user information????-->

<form action="/" method="get" class="homeBtn">
    <button type="submit">Go Home</button>
</form>

{{#resultList}}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="row__item">
                    <a href="showDetail.html">
                        <img src="{{getArtwork_448x252}}"></a>
            </div>
            <div id="search_result_links" class="row__item">
                <form action="/showDetail" method="get">
                    <input type="hidden" value="{{getId}}" name="getDetailId">
                    <button type="submit" class="btn">Detailed Show Info</button>
                </form>
                <form action="/addToUserList" method="post" class="addBtn">
                    <input type="hidden" value="{{getId}}" name="getId">
                    <button type="submit" class="btn">Add to your shows</button>
                </form>
                <form action="{{getUrl}}">
                    <button type="submit" class="btn">Go to show</button>
                </form>
            </div>
            <div class="row__item" style="color: aliceblue">
                {{getOverview}} {{getRating}} <!--Show tags include: {{getTagString}}-->
            </div>
        </div>
    </div>
</section>


{{/resultList}}
</body>
</html>