<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:200|Roboto" rel="stylesheet">
</head>
{{#showDetail}}
<body>
<div class="main-container-showDetail">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card is-fullwidth">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{getArtwork_608x342}}" alt="{{getTitle}}">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h1 class="title">
                        {{getTitle}}
                    </h1>
                    <h2 class="subtitle">
                        {{getOverview}}
                    </h2>
                </div>
            </div>

        </div>
    </section>
    <section class="section show-detail-font-size">
        <div class="container">
            <div class="columns">

                <div class="column">
                    <p><strong>Rating:</strong> {{getRating}}</p>

                    <p><strong>Original Air Date:</strong> {{getFirst_aired}}</p>

                    <p><strong>Airtime:</strong> {{getAir_time}}</p>

                    <p><strong>Genres:</strong>
                        {{#getGenres}}{{.}}, {{/getGenres}}</p>

                    <p><strong>Runtime:</strong> {{getRuntime}}</p>


                    <p><strong>Network:</strong> {{getNetwork}}</p>


                    <p><strong>Channel:</strong> {{#getChannels}} {{getName}} {{/getChannels}}</p>


                    <p><strong>Status:</strong> {{getStatus}}</p>
                </div>


                <div class="column">
                    <p><strong>Tags:</strong> {{#getTags}}
                    <ul>
                        {{.}}
                    </ul>
                    {{/getTags}}</p>
                </div>


                <div class="column">
                    <p><strong><a style="border: none;" href="{{getUrl}}">Go To Show Page</a></strong></p>

                    <p>{{#getMetacritic}} <strong><a style="border: none" href="{{.}}">Metacritic</a></strong>
                        {{/getMetacritic}}
                    </p>
                    <p>&nbsp</p>

                    <p><strong>Cast Members:</strong>{{#getCast}}
                        <ul class="show_detail_ul">
                    <p><strong><a style="border: none;"
                                  href="http://www.imdb.com/find?ref_=nv_sr_fn&q={{getName}}&s=all">{{getName}}:</a></strong>
                        {{getCharacter_name}}</p>
                    </ul>
                    {{/getCast}}</p>


                    {{#getSocial}}
                    {{#getTwitter}}
                    {{^getLink}}
                    <p>no twitter available</p>
                    {{/getLink}}
                    {{/getTwitter}}
                    {{/getSocial}}

                    <!--<div class="column">-->
                    {{#getSocial}}
                    {{#getTwitter}}
                    {{#getLink}}
                    <p><a class="twitter-link" href="{{getLink}}"><img
                            src="http://newsroom.border.gov.au/assets/images/icons/logos/icon-twitterLogo.png"></a>
                    </p>
                    {{/getLink}}
                    {{/getTwitter}}
                    {{/getSocial}}
                </div>
            </div>
        </div>
    </section>
</div>
</body>
{{/showDetail}}
</html>